.purchases {
    border-radius: 16px 16px 0 0;
    background-color: dodgerblue;
    color: white;
    top: 95%;
    left: 84%;
    bottom: 0;
    width: 15%;
    position: fixed;
    overflow-y: scroll;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}